.contentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: -1.652rem;
}

.addTask {
  padding: 1rem;
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
}

#inputTask {
  background: var(--gray-500);
  width: 39.875rem;
  height: 3.375rem;
  border: 1px solid var(--gray-700);
  color: white;
  font: 1rem 'Inter', sans-serif;
  transition: border, background 0.3s;
}

#inputTask::placeholder {
  font-size: 1rem;
  color: var(--gray-300);
  flex-wrap: wrap;
}

#inputTask:focus{
  cursor: text;
  font-size: 1rem;
  border-color: var(--blue);
}

#inputTask:hover {
  background: var(--gray-400);
}

#createButton {
  display: flex;
  gap: 0.5rem;
  background: var(--blue-dark);
  height: 3.25rem;
  width: 5.625rem;
  color: var(--gray-100);
  font-weight: bold;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

#createButton img {
  display: block;
  margin: 0;
}

#createButton:hover {
  background: var(--blue);
}

#createButton:active {
  box-shadow: 2px 2px 5px var(--blue-dark);
}

@media(max-width: 23.5rem) {
  .contentBox {
    flex-wrap: wrap;
  }
  
}