.header {
  height: 12.5rem;
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-right: 0.75rem;
} 

.header span {
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--blue);
}

.header span + span {
  color: var(--purple-dark);
}


